<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Http包</title>
</head>
<body>
<div style="height: 40px">
    <button><a href="/">首页</a></button>

</div>
<pre>
    <h2>导包</h2>
    github.com/astaxie/beego/httplib

    <h2>例子</h2>
    req:=httplib.Get("http://beego.me/")
    str, err := req.String()
    if err != nil {
        t.Fatal(err)
    }
    fmt.Println(str)

    <h4>支持方式</h4>
    httplib 包里面支持如下的方法迒回 request 对象：
        • Get(url string)
        • Post(url string)
        • Put(url string)
        • Delete(url string)
        • Head(url string)

    <h4>Debug模式</h4>
    Get("http://beego.me/").Debug(true).Response()

    <h4>设置超时</h4>
    Get("http://beego.me/").SetTimeout(100 * time.Second, 30 *
time.Second).Response()

    <h4>设置请求参数</h4>
    req:=httplib.Post("http://beego.me/")
    req.Param("username","astaxie")
    req.Param("password","123456")

    <h4>发送文件</h4>
    req:=httplib.Post("http://beego.me/")
    bt,err:=ioutil.ReadFile("hello.txt")
    if err!=nil{
     log.Fatal("read file err:",err)
    }
    req.Body(bt)
    或者
    req.PostFile("uploadfile1", "httplib.pdf")

    <h4>设置header</h4>
    req:=httplib.Post("http://beego.me/")
    req.Header("Accept-Encoding","gzip,deflate,sdch")
    req.Header("Host","beego.me")

    <h2>获取返回结果</h2>
     http.Response 对象，用户可以自己读叏 body 的数据等。
        • 返回 bytes,req.Bytes() 方法
        直接返回请求 URL 迒回的内容
        • 返回 string，req.String() 方法
        直接返回请求 URL 迒回的内容
        • 保存为文件，req.ToFile(filename) 方法
        迒回绌果保存刡文件名为 filename 的文件中
        • 解析为 JSON 绌构，req.ToJson(&result) 方法
        迒回绌构直接解析为 JSON 格式，解析刡 result 对象中
        • 解析为 XML 绌构，req.ToXML(&result) 方法

</pre>
</body>
</html>