<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beego学习</title>
</head>
<body>
<h1>Beego学习</h1>
<div >
    <button><a href="/xsrf">XSRF 跨站请求伪造</a></button>
    <button><a href="/param">获取参数 Get POST等</a></button>
    <button><a href="/upfile">上传文件</a></button>
    <button><a href="/session">Session</a></button>
    <button><a href="/filter">过滤器 Filter</a></button>
    <button><a href="/flash">flash数据 Filter</a></button>
    <button><a href="/url">高级路由设置 Filter</a></button>
    <button><a href="/outType">输出json/xml</a></button>
    <button><a href="/valid">表单验证</a></button>
    <button><a href="/error">错误处理</a></button>
    <button><a href="/log">日志</a></button>
    <button><a href="/db/user">数据库操作</a></button>
    <button><a href="/httplib">Httplib包</a></button>
    <button><a href="/context">上下文</a></button>
</div>
<h5>信息：</h5>
{{.msg}}

</body>
</html>