<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>输出数据类型</title>
</head>
<body>
<div style="height: 40px">
    <button><a href="/">首页</a></button>
</div>
<pre>
    <h1>JSON</h1>
    func (this *AddController) Get() {
        mystruct := { ... }
        this.Data["json"] = &mystruct
        this.ServeJson()
    }

    <h1>XML</h1>
    func (this *AddController) Get() {
         mystruct := { ... }
         this.Data["xml"]=&mystruct
         this.ServeXml()
    }

    <h1>JSONP</h1>
    func (this *AddController) Get() {
        mystruct := { ... }
        this.Data["jsonp"] = &mystruct
        this.ServeJsonp()
    }
</pre>
</body>
</html>