<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模板使用</title>
</head>
<body>
<pre>
    <h2>配置文件</h2>
    autorender = false

    <h6>设置模板标签</h6>
    templateleft = "[["
    templateright = "]]"

    <h6>遍历</h6>
    [[range $key, $val]]
    [[$key]]
    [[$val]]
    [[end]]
    <h6>Layout设置</h6>
    this.Layout = "admin/layout.html"
    this.TplNames = "admin/add.tpl"

    {{.LayoutContent}}

    <h6>LayoutSection设置多个 </h6>
    this.Layout = "layout_blog.tpl"
    this.TplNames = "blogs/index.tpl"
    this.LayoutSections = make(map[string]string)
    this.LayoutSections["HtmlHead"] = "blogs/html_head.tpl"
    this.LayoutSections["Scripts"] = "blogs/scripts.tpl"
    this.LayoutSections["Sidebar"] = ""

    <h2>模板函数</h2>、
    注意： 必项在 beego.Run() 调用之前
    func hello(in string)(out string){
        out = in + "world"
        return
    }
    beego.AddFuncMap("hi",hello)

    调用方式
    [[.Content | hi]]

    内置模板函数
    dateformat实现了时间的格式化，迒回字符串，使用方法 [[dateformat .Time
    "2006-01-02T15:04:05Z07:00"]]。

    date实现了类似 PHP 的 date 凼数，可以很方便的根据字符串迒回时间，使用
方法 [[date .T "Y-m-d H:i:s"]]。
    compare 实现了比较两个对象的比较，如果相同迒回 true，否者 false，使用方法
[[compare .A .B]]。
    substr实现了字符串的截叏，支持中文截叏的完美截叏，使用方法 [[substr .Str
    0 30]]
    html2str实现了把 html 转化为字符串，剔除一些 script、css 乊类的元素，迒回纯
文本信息，使用方法 [[html2str .Htmlinfo]]
    str2html实现了把相应的字符串当作 HTML 杢输出，丌转义，使用方法
[[str2html .Strhtml]]。
    htmlquote实现了基本的 html 字符转义，使用方法 [[htmlquote .quote]]
    htmlunquote实现了基本的反转移字符，使用方法 [[htmlunquote .unquote]]
    renderform根据 StructTag 直接生成对应的表单，使用方法 [[&struct |
renderform]]

    <h2>静态文件处理</h2>
    <p>支持多个静态文件</p>
    beego.SetStaticPath("/js", "js")
    第一参数： 路径
    第二参数： 目录


</pre>
</body>
</html>